body {
    background-color: rgb(12, 12, 12);
    overflow: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
}

@keyframes twinkle {
    0%, 100% { opacity: 1; }
    20% { opacity: 0.5; }
}